/* Message Types */
.login-message {
    display: none;
    margin: 15px 0;
    padding: 12px 15px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    animation: slideIn 0.3s ease-in-out;
}

.login-message.msg-success {
    position: absolute;
    bottom: 160px;
    
}

.msg-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    margin: 4px;
}

/* Animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


